@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-color: #F4F1EA;
  --text-color: #1c1917;
}

.dark {
  --bg-color: #171717; 
  --text-color: #e5e7eb;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
  min-height: 100vh;
}